/* Style the counter cards, set background image to asf watermark */

.card {
    width: 8em;
    height: 12.00em;
    background-position: center;
    background-size: contain;
    background-image: url("asf_card.png");
    position: relative;
    display: inline-block;
    margin: .2em;
    left: 5%;
}

.card:hover {
    bottom: 2em;
}

.card:focus {
    bottom: 1em;
}

.card .rank {
    display: block;
    line-height: 3;
    text-align: center;
    font-size: 4vw;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}