
* {
  box-sizing: border-box;

}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}



.column {
  float: left;
  width: 25%;
  padding: 0 15px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 100px;
    color:black;

  }
}

/* Style the counter cards, set background image to asf watermark */
.card {
  display: inline-block;
    width: 378px;
    height: 516px;
    border: 1px solid #666;
    border-radius: .3em;
    padding: .25em;
    margin: 1 1em 1em 1;
    text-align: center;
    font-size: 30px;
    font-weight: normal;
    font-family: Arial, sans-serif;
    position: relative;
    box-shadow: .2em .2em .5em #333;
    background-image:url(asf_card.png);


}
.card:hover {
  bottom: 1em;
}


.card .rank {
    display: block;
    line-height: 1;
    text-align: middle;
}
