
* {
  box-sizing: border-box;

}

body {
  font-family: sans-serif;
  color: black;
  font-size: 30px;
  margin-top: 20px;
}


/* Style the counter cards, set background image to asf watermark */
.card {
  display: inline-block;
    width: 200px;
    height: 300px;
    border: 1px solid #666;
    border-radius: .3em;
    padding: .25em;
    margin: 1 1em 1em 1;
    text-align: center;
    font-size: 50px;
    font-weight: normal;
    font-family: Arial, sans-serif;
    position: relative;
    box-shadow: .2em .2em .5em #333;
    background-image:url("asf_card.png");


}
.card:hover {
  bottom: 1em;
}


.card .rank {
    display:block;
    line-height: 1;
    text-align: center;
}
